Jaqueline Pinheiro

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import scipy.stats as stats
from scipy.stats import levene
import statsmodels.api as sm

## Question 1
### letter d)

In [144]:
df = pd.read_excel('SP500Index.xlsx')
df

     Date of Observation  Level of the S&P 500 Index
0               19600129                       55.61
1               19600229                       56.12
2               19600331                       55.34
3               19600429                       54.37
4               19600531                       55.83
..                   ...                         ...
697             20180228                     2713.83
698             20180329                     2640.87
699             20180430                     2648.05
700             20180531                     2705.27
701             20180629                     2718.37

[702 rows x 2 columns]

In [145]:
df['Date of Observation'] = pd.to_datetime(df['Date of Observation'], format='%Y%m%d')
df['xt'] = np.log(df['Level of the S&P 500 Index']) - np.log(df['Level of the S&P 500 Index'].iloc[0])
mean_return=df.iloc[-1].xt/len(df)
mean_return

0.005540490988253315

In [146]:
std = np.sqrt(((1/len(df))*(df['xt'] - df['xt'].shift(1) - delta)**2).sum())
std

0.04215029312565144

In [147]:
std/mean_return

7.607681921154007

<br>$\hat{\delta}_{M L}$ = 0.00554 (average monthly return on SP500 index between Jan 1960 - Jun 2018)
<br>$\sqrt{\hat{\sigma}_{M L}^{2}}$ = 0.04215 (volatility of returns on SP500 index between Jan 1960 - Jun 2018)

The volatility of the index is much bigger than its return.

## Question 5
### letter a)

In [148]:
df = pd.read_excel('PS4data.xls')
df

,year,quarter,real consumption of nondurables,real consumption of services,cpi,real disposable income,population,equally weighted average return on the New York Stock Exchange
0,1948,1,442.3,463.8,23.533333,1055.3,102690.67,0.01414
1,1948,2,446.9,470.5,23.933333,1087.7,102915.33,0.11755
2,1948,3,443.3,476.6,24.466667,1107.1,103249.00,-0.09565
3,1948,4,449.6,480.2,24.233333,1109.8,103417.67,-0.04563
4,1949,1,451.8,482.6,23.866667,1087.8,103584.33,0.03338
...,...,...,...,...,...,...,...,...
215,2001,4,1885.0,3616.6,177.266670,6729.1,216111.67,0.14591
216,2002,1,1921.4,3642.2,177.900000,6961.0,216664.00,0.08077
217,2002,2,1920.9,3666.2,179.833330,7027.2,217203.67,-0.03911
218,2002,3,1925.8,3687.0,180.600000,7058.1,217867.67,-0.16290
219,2002,4,1950.0,3707.0,181.166670,7100.8,218543.00,0.07456

In [149]:
df['C0'] = (df['real consumption of nondurables'] + df['real consumption of services'])/df['population']
df['C1'] = df['C0'].shift(1)
df['C2'] = df['C1'].shift(1)
df['C3'] = df['C2'].shift(1)
df['C4'] = df['C3'].shift(1)
df = df.dropna()
df

,year,quarter,real consumption of nondurables,real consumption of services,cpi,real disposable income,population,equally weighted average return on the New York Stock Exchange,C0,C1,C2,C3,C4
4,1949,1,451.8,482.6,23.866667,1087.8,103584.33,0.03338,0.009021,0.008991,0.008910,0.008914,0.008824
5,1949,2,452.7,485.7,23.866667,1091.3,103838.00,-0.08055,0.009037,0.009021,0.008991,0.008910,0.008914
6,1949,3,449.2,484.5,23.800000,1096.8,104127.33,0.13730,0.008967,0.009037,0.009021,0.008991,0.008910
7,1949,4,455.5,486.0,23.700000,1106.3,104427.67,0.12362,0.009016,0.008967,0.009037,0.009021,0.008991
8,1950,1,461.1,493.6,23.533333,1186.1,104733.33,0.05450,0.009116,0.009016,0.008967,0.009037,0.009021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2001,4,1885.0,3616.6,177.266670,6729.1,216111.67,0.14591,0.025457,0.025373,0.025387,0.025409,0.025397
216,2002,1,1921.4,3642.2,177.900000,6961.0,216664.00,0.08077,0.025678,0.025457,0.025373,0.025387,0.025409
217,2002,2,1920.9,3666.2,179.833330,7027.2,217203.67,-0.03911,0.025723,0.025678,0.025457,0.025373,0.025387
218,2002,3,1925.8,3687.0,180.600000,7058.1,217867.67,-0.16290,0.025762,0.025723,0.025678,0.025457,0.025373
219,2002,4,1950.0,3707.0,181.166670,7100.8,218543.00,0.07456,0.025885,0.025762,0.025723,0.025678,0.025457

In [151]:
# Linear model 
clist = df.columns[-4:].tolist()
X = df[clist]
X = sm.add_constant(X)

Y = df[df.columns[-5]]

linear_model = sm.OLS(Y,X)
model_1 = linear_model.fit()
print(model_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     C0   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.094e+05
Date:                Wed, 22 Nov 2023   Prob (F-statistic):               0.00
Time:                        20:51:15   Log-Likelihood:                 1745.1
No. Observations:                 216   AIC:                            -3480.
Df Residuals:                     211   BIC:                            -3463.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.439e-05   1.92e-05      1.267      0.207   -1.36e-05    6.23e-05
C1             1.1923      0.067     17.696      0.000       1.060       1.325
C2            -0.1281      0.106     -1.212      0.227      -0.336       0.080
C3             0.1443      0.105      1.368      0.173      -0.064       0.352
C4            -0.2075      0.068     -3.072      0.002      -0.341      -0.074
==============================================================================
Omnibus:                       10.879   Durbin-Watson:                   1.984
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               12.919
Skew:                          -0.406   Prob(JB):                      0.00157
Kurtosis:                       3.881   Cond. No.                     2.71e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.71e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [152]:
## Runing hypo. test
hypotheses = '(C2 = 0), (C3 = 0), (C4 = 0)'
f_test = model_1 .f_test(hypotheses)
print(f_test)

<F test: F=8.40999689552861, p=2.6364145736173065e-05, df_denom=211, df_num=3>

<br> The F test rejects the hypothesis that $\beta_2=\beta_3=\beta_4=0$.
<br> We reject the null hypothesis for the first and the fourth lags of consumption at the 1\% sig. level. On the teh other hand, we fail to reject the null hypothesis for lag 2, and 3. The significance of the first lag is consistent with Hall's hypothesis. The significance of the fourth lag is not consistent with his theory, and one can argue that it could be related to seasonality.

### letter b)

Changes in current income $(Y_t-Y_{t-1})$ are likely correlated with $\epsilon_t$, which provides information about changes in the permanent income. Thus, $(Y_t-Y_{t-1})$ is endogenous and the estimation of $\gamma_1$ is inconsistent.

### letter c)

In [100]:
import warnings
warnings.filterwarnings("ignore")

In [153]:
df['C5'] = df['C4'].shift(1)
df['C6'] = df['C5'].shift(1)
df['log_c0/c1'] = np.log(df['C0']/df['C1'])
df['log_c2/c3'] = np.log(df['C2']/df['C3'])
df['log_c3/c4'] = np.log(df['C3']/df['C4'])
df['log_c4/c5'] = np.log(df['C4']/df['C5'])
df['log_c5/c6'] = np.log(df['C5']/df['C6'])
df['Y0'] = df['real disposable income']/df['population']
df['Y1'] = df['Y0'].shift(1)
df = df.dropna()
df['log_y0/y1'] = np.log(df['Y0']/df['Y1'])
df

,year,quarter,real consumption of nondurables,real consumption of services,cpi,real disposable income,population,equally weighted average return on the New York Stock Exchange,C0,C1,...,C5,C6,log_c0/c1,log_c2/c3,log_c3/c4,log_c4/c5,log_c5/c6,Y0,Y1,log_y0/y1
6,1949,3,449.2,484.5,23.800000,1096.8,104127.33,0.13730,0.008967,0.009037,...,0.008914,0.008824,-0.007804,0.003325,0.009072,-0.000516,0.010209,0.010533,0.010510,0.002245
7,1949,4,455.5,486.0,23.700000,1106.3,104427.67,0.12362,0.009016,0.008967,...,0.008910,0.008914,0.005439,0.001826,0.003325,0.009072,-0.000516,0.010594,0.010533,0.005744
8,1950,1,461.1,493.6,23.533333,1186.1,104733.33,0.05450,0.009116,0.009016,...,0.008991,0.008910,0.011000,-0.007804,0.001826,0.003325,0.009072,0.011325,0.010594,0.066727
9,1950,2,466.1,507.6,23.700000,1178.1,105020.33,0.00104,0.009272,0.009116,...,0.009021,0.008991,0.016970,0.005439,-0.007804,0.001826,0.003325,0.011218,0.011325,-0.009504
10,1950,3,474.4,514.6,24.266667,1196.5,105248.33,0.16630,0.009397,0.009272,...,0.009037,0.009021,0.013422,0.011000,0.005439,-0.007804,0.001826,0.011368,0.011218,0.013329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2001,4,1885.0,3616.6,177.266670,6729.1,216111.67,0.14591,0.025457,0.025373,...,0.025280,0.025159,0.003331,-0.000830,0.000472,0.004598,0.004800,0.031137,0.031863,-0.023047
216,2002,1,1921.4,3642.2,177.900000,6961.0,216664.00,0.08077,0.025678,0.025457,...,0.025397,0.025280,0.008654,-0.000588,-0.000830,0.000472,0.004598,0.032128,0.031137,0.031329
217,2002,2,1920.9,3666.2,179.833330,7027.2,217203.67,-0.03911,0.025723,0.025678,...,0.025409,0.025397,0.001727,0.003331,-0.000588,-0.000830,0.000472,0.032353,0.032128,0.006977
218,2002,3,1925.8,3687.0,180.600000,7058.1,217867.67,-0.16290,0.025762,0.025723,...,0.025387,0.025409,0.001537,0.008654,0.003331,-0.000588,-0.000830,0.032396,0.032353,0.001335
219,2002,4,1950.0,3707.0,181.166670,7100.8,218543.00,0.07456,0.025885,0.025762,...,0.025373,0.025387,0.004749,0.001727,0.008654,0.003331,-0.000588,0.032492,0.032396,0.002937

In [154]:
# First Stage
clist = ['log_c2/c3', 'log_c3/c4', 'log_c4/c5', 'log_c5/c6']
X = df[clist]
X = sm.add_constant(X)

Y = df['log_y0/y1'] 

first_stage_model = sm.OLS(Y,X)
model_fs = first_stage_model.fit(cov_type = 'HC0')
print(model_fs.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_y0/y1   R-squared:                       0.046
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     3.208
Date:                Wed, 22 Nov 2023   Prob (F-statistic):             0.0139
Time:                        20:51:56   Log-Likelihood:                 687.27
No. Observations:                 214   AIC:                            -1365.
Df Residuals:                     209   BIC:                            -1348.
Df Model:                           4
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0040      0.002      2.407      0.016       0.001       0.007
log_c2/c3     -0.0186      0.194     -0.096      0.923      -0.398       0.361
log_c3/c4      0.3372      0.115      2.937      0.003       0.112       0.562
log_c4/c5      0.1704      0.118      1.447      0.148      -0.060       0.401
log_c5/c6     -0.2219      0.161     -1.382      0.167      -0.536       0.093
==============================================================================
Omnibus:                       88.097   Durbin-Watson:                   2.126
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              723.921
Skew:                           1.345   Prob(JB):                    6.35e-158
Kurtosis:                      11.599   Cond. No.                         219.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)

In [155]:
# Second Stage
X = model_fs.fittedvalues.tolist()
X = sm.add_constant(X)

Y = df['log_c0/c1']

second_stage_model = sm.OLS(Y,X)
model_ss = second_stage_model.fit(cov_type = 'HC0')
print(model_ss.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_c0/c1   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.028
Method:                 Least Squares   F-statistic:                     4.638
Date:                Wed, 22 Nov 2023   Prob (F-statistic):             0.0324
Time:                        20:52:07   Log-Likelihood:                 825.70
No. Observations:                 214   AIC:                            -1647.
Df Residuals:                     212   BIC:                            -1641.
Df Model:                           1
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0026      0.001      2.179      0.029       0.000       0.005
x1             0.4369      0.203      2.154      0.031       0.039       0.835
==============================================================================
Omnibus:                        5.516   Durbin-Watson:                   1.591
Prob(Omnibus):                  0.063   Jarque-Bera (JB):                8.066
Skew:                           0.045   Prob(JB):                       0.0177
Kurtosis:                       3.947   Cond. No.                         468.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)

To address the endogeneity problem, we follow the proposal of using the $\log \left(C_{t-2} / C_{t-3}\right), \log \left(C_{t-3} / C_{t-4}\right), \log \left(C_{t-4} / C_{t-5}\right)$, and $\log \left(C_{t-5} / C_{t-6}\right)$ as instruments, and run the 2SLS. 
<br> From the results, we see that the coefficient is statistically different from 0 at 5\% sig level, which means that 43.7\% of the households are keynesian (i.e. consume their current disposable income directly) instead of consuming according to the permanent income hypothesis.

### letter d)

In [156]:
# Control Function
control = model_fs.resid.tolist()
df['control'] = control

clist = ['log_y0/y1', 'control']
X = df[clist]
X = sm.add_constant(X)

control_model = sm.OLS(Y,X)
model_cf = control_model.fit(cov_type = 'HC0')
print(model_cf.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_c0/c1   R-squared:                       0.219
Model:                            OLS   Adj. R-squared:                  0.212
Method:                 Least Squares   F-statistic:                     18.33
Date:                Wed, 22 Nov 2023   Prob (F-statistic):           4.56e-08
Time:                        21:03:31   Log-Likelihood:                 848.67
No. Observations:                 214   AIC:                            -1691.
Df Residuals:                     211   BIC:                            -1681.
Df Model:                           2
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0026      0.001      2.384      0.017       0.000       0.005
log_y0/y1      0.4369      0.191      2.282      0.022       0.062       0.812
control       -0.2067      0.194     -1.068      0.286      -0.586       0.173
==============================================================================
Omnibus:                       11.818   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               21.762
Skew:                           0.251   Prob(JB):                     1.88e-05
Kurtosis:                       4.480   Cond. No.                         666.
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)

We cannot reject the null hypothesis that $\beta_2=0$ (control variable in our model). Therefore, we cannot reject the hypothesis of exogeneity.

In [157]:
#### Overidentification test

# instead of taking the residuals of the second stage, we recompute using the endogenous variable

res = df['log_c0/c1'] -  model_ss.predict(sm.add_constant(df['log_y0/y1']))

clist = ['log_c2/c3', 'log_c3/c4', 'log_c4/c5', 'log_c5/c6']
X = df[clist]
X = sm.add_constant(X)

over_ident_model = sm.OLS(res,X)
model_over = over_ident_model.fit()
print(model_over.summary()) 

214*model_over.rsquared

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     1.960
Date:                Wed, 22 Nov 2023   Prob (F-statistic):              0.102
Time:                        21:03:33   Log-Likelihood:                 833.72
No. Observations:                 214   AIC:                            -1657.
Df Residuals:                     209   BIC:                            -1641.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0007      0.001     -1.134      0.258      -0.002       0.001
log_c2/c3      0.1826      0.069      2.663      0.008       0.047       0.318
log_c3/c4      0.0105      0.069      0.153      0.879      -0.125       0.147
log_c4/c5     -0.0598      0.069     -0.869      0.386      -0.195       0.076
log_c5/c6      0.0073      0.068      0.108      0.914      -0.127       0.142
==============================================================================
Omnibus:                       12.530   Durbin-Watson:                   2.449
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               31.565
Skew:                           0.028   Prob(JB):                     1.40e-07
Kurtosis:                       4.881   Cond. No.                         219.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

7.7382792292901454

To test for over-identification, we recompute residuals using the endogenous variable (variable res in our model above) and regress it on the instruments to get the $R^2$.
<br> The Sargan's test statistic is: $S= nR^2 = 214*0.036=7.738$
<br> The asymptotic dist under $H_0$ (valid over-identifying restrictions) is $\chi^2(l-k)=\chi^2(4-1)$, that has critical value is $7.815$ at 5% of sig. level. Therefore, we cannot reject the null hypothesis of valid over-identifying restrictions. 

<br> Note that the F-stat from the first stage is $3.208 <10$, which suggests that it is a weak instrument according to Stock-Yogo. So it can be tha case that testing for endogeneity and the over-identifying restrictions may be flawed.